:root {
  --color-primary-text: #fff;
  --color-gray-Shadowy: #b3b3b3;
  --color-gray-dark: #7f7f7f;
  --color-gray-btn: #b9babb;
  --color-primary-background: #121212;
  --color-primary-nav: #282828;
  --color-green: #57b560;
  --color-box: #262626;
  --color-home-gradientBG: radial-gradient(
    circle at top left,
    rgba(46, 28, 144, 0.55) 0,
    rgba(12, 12, 12, 1) 45%
  );
  --color-album-gradientBG: radial-gradient(
    circle at top center,
    rgba(33, 71, 83, 1) 0,
    rgba(12, 12, 12, 1) 85%
  );
  --color-likedSongs-gradientBG: radial-gradient(
    circle at top center,
    rgba(46, 28, 144, 0.75) -25rem,
    rgba(12, 12, 12, 1) 35%
  );
  --font-primary: "Circular Std", sans-serif;
  --page-margin: 1.6rem;
  --artist-image-height: 40.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.page {
  display: none;
}

.view-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
}

.pages-container {
  flex-grow: 1;
  background-color: var(--color-primary-background);
  z-index: -2;
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
}

@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
  src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot");
  src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot");
  src: url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.eot");
  src: url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.svg#Circular Std Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  font-size: 2rem;
  font-weight: 500;
}

.primaryHeading {
  font-weight: 900;
}

.secondaryHeading {
  font-size: 2.07rem;
  font-weight: 700;
}

.ternaryHeading {
  font-size: 1.1rem;
  font-weight: 700;
}

span {
  font-weight: 400;
  font-size: 1rem;
}

.main-nav__item {
  color: var(--color-gray-Shadowy);
  text-align: center;
}
.main-nav__text {
  font-weight: 400;
  font-size: 1.1rem;
}

.thumbnail-grid__title {
  font-size: 1.1rem;
}

#page-album .primaryHeading {
  font-size: 1.8rem;
  letter-spacing: -0.072rem;
}
#page-album .album-year {
  font-size: 0.9rem;
}

#page-liked .secondaryHeading {
  font-size: 2.1rem;
  letter-spacing: -0.042rem;
}
#page-liked .play-text {
  color: #fff;
  text-align: center;
  font-family: Circular Std;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12rem;
}

#page-artist .primaryHeading {
  font-size: 5.5rem;
}
#page-artist .secondaryHeading {
  font-size: 1.6rem;
}

#page-library .secondaryHeading {
  font-size: 3rem;
}
#page-library .podcasts {
  color: var(--color-gray-dark);
}
#page-library .ternaryHeading {
  font-size: 1.55rem;
  color: var(--color-gray-dark);
}
#page-library .section-artists .ternaryHeading {
  font-size: 1.5rem;
  color: var(--color-primary-text);
}
#page-library #page-search .secondaryHeading {
  font-size: 1.6rem;
}

#page-player .flex-top .secondaryHeading {
  font-size: 1.1rem;
}

.mgb-1 {
  margin-bottom: 1rem !important;
}

.mgb-1p5 {
  margin-bottom: 1.5rem !important;
}

.mgb-1p7 {
  margin-bottom: 1.7rem !important;
}

.mgb-2 {
  margin-bottom: 2rem !important;
}

.mgb-2p1 {
  margin-bottom: 2.1rem !important;
}

.mgb-2p2 {
  margin-bottom: 2.2rem !important;
}

.mgb-2p5 {
  margin-bottom: 2.5rem !important;
}

.mgb-2p9 {
  margin-bottom: 2.9rem !important;
}

.mgb-13p6 {
  margin-bottom: 13.6rem !important;
}

.mgt-1p6 {
  margin-top: 1.6rem !important;
}

.mgt-1p7 {
  margin-top: 1.7rem !important;
}

.mgt-1p9 {
  margin-top: 1.9rem !important;
}

.mgt-2p2 {
  margin-top: 2.2rem !important;
}

.mgt-3 {
  margin-top: 3rem !important;
}

.mgt-3p3 {
  margin-top: 3.3rem !important;
}

.mgt-5p1 {
  margin-top: 5.1rem !important;
}

.mgt-6 {
  margin-top: 6rem !important;
}

.mgt-6p3 {
  margin-top: 6.3rem !important;
}

.mgt-7p2 {
  margin-top: 7.2rem !important;
}

.mgt-7p6 {
  margin-top: 7.6rem !important;
}

.mgt-9 {
  margin-top: 9rem !important;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  width: 19.6rem;
  height: 4.8rem;
  border-radius: 4rem;
  background: #57b560;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Circular Std;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12rem;
}

.carousel {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100vw;
  justify-content: left;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel__item {
  width: 16.6rem;
  height: 16.6rem;
  flex-shrink: 0;
  margin-right: 1.6rem;
  scroll-snap-align: start;
}
.carousel__item--txt {
  width: 12.4rem;
  margin-right: 1.6rem;
  display: flex;
  flex-direction: column;
}
.carousel__text {
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
.carousel__image {
  width: 12.4rem;
  height: 12.4rem;
}

.play-shuffle-button {
  display: flex;
  align-items: center;
}
.play-shuffle-button--play {
  width: 5.6rem;
  height: 5.6rem;
  position: relative;
  top: -2rem;
  right: -2rem;
}
.play-shuffle-button--shuffle {
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.search-bar {
  display: flex;
  color: var(--color-gray-Shadowy) !important;
}
.search-bar::before {
  content: "";
  background-image: url("/img/SVG/Search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.5rem;
  position: absolute;
  transform: translateX(0.8rem);
}
.search-bar__input {
  flex-grow: 1;
  padding-left: 3.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--color-primary-nav);
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: -0.023rem;
  color: var(--color-gray-Shadowy);
  font-family: Circular Std;
}
.search-bar__input--m1 {
  font-size: 1.45rem;
  font-weight: 400;
  color: var(--color-primary-text) !important;
  border-radius: 0.8rem;
  height: 2.8rem;
}
.search-bar__btn {
  margin-left: 0.8rem;
  width: 6.4rem;
  height: 3.6rem;
  background: var(--color-primary-nav) !important;
  font-family: Circular Std;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-gray-Shadowy);
}
.search-bar__btn--cancel {
  background: none !important;
}
.search-bar__btn-text {
  font-family: Circular Std;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: -0.023rem;
  color: var(--color-gray-Shadowy) !important;
}
.search-bar__btn-text--cancel {
  font-size: 1.1rem;
  color: var(--color-primary-text);
}
.search-bar--camera {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  fill: white;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.5rem, 1fr));
  gap: 0.8rem;
}
.thumbnail-grid__item-box {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  display: flex;
  align-items: center;
  background-color: var(--color-box);
  width: auto;
}
.thumbnail-grid__image {
  width: 5.6rem;
  height: 5.6rem;
  margin-right: 0.8rem;
}

.vertical-tracks {
  display: flex;
  flex-direction: column;
  counter-reset: count;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.vertical-tracks::-webkit-scrollbar {
  display: none;
}
.vertical-tracks__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.vertical-tracks__item--numbered::before {
  counter-increment: count;
  content: counter(count);
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.vertical-tracks__flex-container-left {
  display: flex;
  flex-direction: column;
}
.vertical-tracks__song-title {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.vertical-tracks__song-title--image {
  margin-bottom: 0.3rem;
}
.vertical-tracks__flex-container-botton {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}
.vertical-tracks__download-icon {
  margin-right: 0.8rem !important;
  height: 1.3rem !important;
  width: 1.3rem !important;
}
.vertical-tracks__download-icon--image {
  margin-right: 0.3rem !important;
}
.vertical-tracks__artist {
  font-size: 1.1rem;
  color: var(--color-gray-Shadowy);
}
.vertical-tracks__more-icon {
  width: 2rem !important;
  height: 2rem !important;
}
.vertical-tracks__more-icon--smaller {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.vertical-tracks__more-icon--cancel {
  width: 1.5rem !important;
  height: 1.5rem !important;
  fill: var(--color-gray-Shadowy);
}
.vertical-tracks--left-image {
  display: flex;
  align-items: center;
}
.vertical-tracks --right-image {
  display: flex;
  align-items: center;
}
.vertical-tracks--image {
  margin-right: 1.2rem;
  height: 4.8rem;
  width: 4.8rem;
}
.vertical-tracks--image--numbered {
  margin-left: 2rem;
}
.vertical-tracks--image--album {
  width: 6.4rem;
  height: 6.4rem;
}
.vertical-tracks--image--radious {
  border-radius: 50%;
}
.vertical-tracks--Heart-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 3.2rem;
}

.main-nav {
  height: min-max(min-content, 10.8vh);
  width: 100vw;
  flex-shrink: 0;
}
.main-nav__flex-container {
  height: 100%;
  background-color: var(--color-primary-nav);
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.main-nav__item {
  flex: 1;
  margin-bottom: 3.5rem;
}
.main-nav__icon {
  margin: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
}
.main-nav__text {
  display: block;
  line-height: normal;
}

#page-album {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-album-gradientBG);
}
#page-album .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
#page-album .icon-Back-arrow {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  left: var(--page-margin);
  top: 6rem;
}
#page-album .album-image {
  width: 27.2rem;
  height: 27.2rem;
}
#page-album .artist-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
#page-album .flex-container-icon-placement {
  margin-left: auto;
}
#page-album .icon-Heart-stroke {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 2.3rem;
}
#page-album .icon-Download-stroke {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 2.3rem;
}
#page-album .icon-More {
  width: 2.4rem;
  height: 2.4rem;
}

#page-artist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-artist .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
#page-artist .icon-Arrow-left-circle {
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  position: absolute;
  left: var(--page-margin);
  top: 6rem;
}
#page-artist .image-artist {
  width: 100vw;
  height: var(--artist-image-height);
  object-fit: cover;
  vertical-align: top;
  object-position: center top;
}
#page-artist .place-left-button {
  justify-content: flex-end;
  margin-top: 3rem;
}
#page-artist .image-artist-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
#page-artist .image-artist-container::before {
  vertical-align: top;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
#page-artist .image-artist-container .primaryHeading {
  display: block;
  position: absolute;
  top: calc(var(--artist-image-height) - 6.7rem);
  z-index: 3;
  margin-left: var(--page-margin);
}

#page-home {
  height: 100%;
  background: var(--color-home-gradientBG);
}
#page-home .home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: var(--page-margin);
  overflow-y: auto;
}

.home-container > section {
  height: auto;
}

.genre-section {
  margin-right: calc(var(--page-margin) * 2);
}

.icon-Settings {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  right: calc(var(--page-margin) * 2.2);
  top: 3rem;
}

#page-library {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-library .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
#page-library .align-left {
  display: flex;
}
#page-library .podcasts {
  margin-left: 2.4rem;
}
#page-library .ternaryHeading {
  margin-right: 3.1rem;
}
#page-library .artist-image {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1.1rem;
}

#page-liked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-likedSongs-gradientBG);
}
#page-liked .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
#page-liked .icon-Back-arrow {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  left: var(--page-margin);
  top: 6rem;
}

#page-player {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary-background);
}
#page-player .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
#page-player .flex-top {
  justify-content: space-between;
}
#page-player .flex-top .icon-More {
  height: 2.4rem;
  width: 2.4rem;
}
#page-player .flex-top .icon-Arrow-down {
  height: 2.3rem;
  width: 2.3rem;
}
#page-player .song-cover {
  width: 100%;
  height: 40.8vh;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 6.58vh;
}
#page-player .img-container {
  margin-top: 8.48vh;
}
#page-player .rightside {
  margin-left: auto;
}
#page-player .buttons-player {
  margin-top: 6.91vh;
  margin-bottom: 4.68vh;
  justify-content: space-between;
}
#page-player .icon-shuffle-dot {
  height: 3.2rem;
  width: 2rem;
}
#page-player .icon-Previous,
#page-player .icon-Next {
  height: 3.5rem;
  width: 3.5rem;
}
#page-player .icon-Pause-circle {
  width: 6.3rem;
  height: 6.3rem;
}
#page-player .icon-Repeat {
  height: 2.2rem;
  width: 2.2rem;
}
#page-player .bttm-icon {
  justify-content: space-between;
}
#page-player .icon-Devices,
#page-player .icon-Queue {
  width: 1.9rem;
  height: 1.9rem;
}
#page-player .secondaryHeading {
  margin-bottom: 0.6rem;
}

#page-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-search .search {
  padding: 5.2rem var(--page-margin) 3.8rem var(--page-margin);
  height: 8.8rem;
  background: #191919;
}
#page-search .page-container {
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}

/*# sourceMappingURL=style.css.map */
