:root {
  --color-primary-text: #fff;
  --color-gray-Shadowy: #b3b3b3;
  --color-gray-dark: #7f7f7f;
  --color-gray-btn: #b9babb;
  --color-primary-background: #121212;
  --color-primary-nav: #282828;
  --color-green: #57b560;
  --color-home-gradientBG: rgba(46, 28, 144, 0.55);
  --color-album-gradientBG: #337183;
  --color-likedSongs-gradientBG: linear-gradient(
    180deg,
    rgba(46, 28, 144, 0.75) 0%,
    rgba(116, 115, 127, 0.75) 100%
  );
  --font-primary: "Circular Std", sans-serif;
  --page-margin: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.page {
  background-color: var(--color-primary-background);
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.pages-container {
  flex-grow: 1;
}

@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
  src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot");
  src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot");
  src: url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.eot");
  src: url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1a22f6f15d272c7aa56da8b2c91f5e5.svg#Circular Std Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  font-size: 2rem;
  font-weight: 500;
}

.secondaryHeading {
  font-size: 2.07rem;
  font-weight: 700;
}

.main-nav-bar--box .icon-container {
  color: var(--color-gray-Shadowy);
  text-align: center;
}
.main-nav-bar--box .icon-container .icon-text {
  font-weight: 400;
  font-size: 1.1rem;
}

.main-nav-bar {
  height: 10.8vh;
  width: 100vw;
}
.main-nav-bar--box {
  height: 100%;
  background-color: var(--color-primary-nav);
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.main-nav-bar--box .icon-container {
  flex: 1;
}
.main-nav-bar--box .icon-container .icon {
  margin: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
}
.main-nav-bar--box .icon-container .icon-text {
  display: block;
  line-height: normal;
}

#page-home {
  display: block;
  height: 100%;
}
#page-home .home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: var(--page-margin);
}

.home-container > section {
  height: 15rem;
}

/*# sourceMappingURL=style.css.map */
