.main-nav {
  height: min-max(min-content, 10.8vh);
  width: 100vw;
  flex-shrink: 0;

  &__flex-container {
    height: 100%;
    background-color: var(--color-primary-nav);
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
  }
  &__item {
    flex: 1;
    margin-bottom: 3.5rem;
  }
  &__icon {
    margin: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  &__text {
    display: block;
    line-height: normal;
  }
}
