*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;

  @include respond-between(ze, xxs) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(xs) {
    font-size: 67.5%; //1rem = 10.8px, 10.8/16
  }

  @include respond(sm) {
    font-size: 75%; //1rem = 12, 12/16
  }

  @include respond(md) {
    font-size: 87.5%; //1rem = 14, 14/16
  }

  @include respond(lg) {
    font-size: 93.75%; //1rem = 15, 15/16
  }

  @include respond(lg) {
    font-size: 100%; //1rem = 16, 16/16
  }
}

.page {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - var(--main-nav-height)) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.is-active {
  display: block !important;
}

.view-container {
  // display: flex;
  // justify-content: flex-end;
  // flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-primary-background);
}

.pages-container {
  flex-grow: 1;
  background-color: var(--color-primary-background);
  z-index: -2;
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
}
