#page-search {
  .search {
    position: fixed;
    width: 100%;
    padding: 5.2rem var(--page-margin) 3.8rem var(--page-margin);
    height: 8.8rem;
    background: #191919;
  }
  .page-container {
    margin-top: 10.7rem;
    width: 100%;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
  }
}
