.container--slider {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100vw;
  justify-content: left;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__image-you {
    width: 16.6rem;
    height: 16.6rem;
    flex-shrink: 0;
    margin-right: 1.6rem;
    scroll-snap-align: start;
  }

  &__image-box {
    width: 12.4rem;
    margin-right: 1.6rem;
    display: flex;
    flex-direction: column;

    .image-recently {
      width: 12.4rem;
      height: 12.4rem;
      flex-shrink: 0;
      scroll-snap-align: start;
    }

    .text-recently {
      margin-top: 0.7rem;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
}
