.thumbnail-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(18.7rem, 1fr));
  gap: 0.8rem;

  &__item-box {
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    display: flex;
    align-items: center;
    background-color: var(--color-box);
    width: auto;
  }
  &__image {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 0.8rem;
  }
}
