.vertical-tracks {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  scroll-snap-type: y mandatory;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  &__flex-container-left {
    display: flex;
    flex-direction: column;
  }

  &__song-title {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    &--image {
      margin-bottom: 0.3rem;
    }
  }

  &__flex-container-botton {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
  }

  &__download-icon {
    margin-right: 0.8rem !important;
    height: 1.3rem !important;
    width: 1.3rem !important;
    &--image {
      margin-right: 0.3rem !important;
    }
  }

  &__artist {
    font-size: 1.1rem;
    color: var(--color-gray-Shadowy);
  }

  &__more-icon {
    width: 2rem !important;
    height: 2rem !important;
    &--smaller {
      width: 1.6rem !important;
      height: 1.6rem !important;
    }
  }

  &--left-image {
    display: flex;
    align-items: center;
  }

  --right-image {
    display: flex;
    align-items: center;
  }

  &--image {
    margin-right: 1.2rem;
    height: 4.8rem;
    width: 4.8rem;
  }

  &--Heart-icon {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 3.2rem;
  }
}
