*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
}

.page {
  display: none;
}

.view-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
}

.pages-container {
  flex-grow: 1;
  background-color: var(--color-primary-background);
  z-index: -2;
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
}
