*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
}

.page {
  background-color: var(--color-primary-background);
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.pages-container {
  flex-grow: 1;
}
