body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  font-size: 2rem;
  font-weight: 500;
}

.primaryHeading {
  font-weight: 900;
}
.secondaryHeading {
  font-size: 2.07rem;
  font-weight: 700;
}
.ternaryHeading {
  font-size: 1.1rem;
  font-weight: 700;
}

span {
  font-weight: 400;
  font-size: 1rem;
}

.main-nav {
  &__item {
    color: var(--color-gray-Shadowy);
    text-align: center;
  }
  &__text {
    font-weight: 400;
    font-size: 1.1rem;
  }
}

.thumbnail-grid__title {
  font-size: 1.1rem;
}

#page-album {
  .primaryHeading {
    font-size: 1.8rem;
    letter-spacing: -0.072rem;
  }
  .album-year {
    font-size: 0.9rem;
  }
}

#page-liked {
  .secondaryHeading {
    font-size: 2.1rem;
    letter-spacing: -0.042rem;
  }
  .play-text {
    color: #fff;
    text-align: center;
    font-family: Circular Std;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12rem;
  }
}

#page-artist {
  .primaryHeading {
    font-size: 5.5rem;
  }
  .secondaryHeading {
    font-size: 1.6rem;
  }
}

#page-library {
  .secondaryHeading {
    font-size: 3rem;
  }
  .podcasts {
    color: var(--color-gray-dark);
  }
  .ternaryHeading {
    font-size: 1.55rem;
    color: var(--color-gray-dark);
  }
  .section-artists {
    .ternaryHeading {
      font-size: 1.5rem;
      color: var(--color-primary-text);
    }
  }
}
