.mgb-1 {
  margin-bottom: 1rem !important;
}

.mgb-1p5 {
  margin-bottom: 1.5rem !important;
}

.mgb-1p7 {
  margin-bottom: 1.7rem !important;
}

.mgb-2 {
  margin-bottom: 2rem !important;
}

.mgb-2p2 {
  margin-bottom: 2.2rem !important;
}

.mgb-2p5 {
  margin-bottom: 2.5rem !important;
}

.mgb-13p6 {
  margin-bottom: 13.6rem !important;
}

.mgt-1p6 {
  margin-top: 1.6rem !important;
}

.mgt-3 {
  margin-top: 3rem !important;
}

.mgt-3p3 {
  margin-top: 3.3rem !important;
}

.mgt-5p1 {
  margin-top: 5.1rem !important;
}

.mgt-6 {
  margin-top: 6rem !important;
}

.mgt-9 {
  margin-top: 9rem !important;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
