#page-album {
  background: var(--color-primary-background);

  .page-container {
    width: 100%;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);

    &::before {
      content: '';
      height: 75rem;
      width: 100vw;
      background: var(--color-album-gradientBG);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }
  }

  .icon-Back-arrow {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    left: var(--page-margin);
    top: 6rem;
  }

  .album-image {
    width: 27.2rem;
    height: 27.2rem;
  }

  .artist-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  .flex-container-icon-placement {
    margin-left: auto;
  }

  .icon-Heart-stroke {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 2.3rem;
  }
  .icon-Download-stroke {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2.3rem;
  }
  .icon-More {
    width: 2.4rem;
    height: 2.4rem;
  }
}
