#page-liked {
  .page-container {
    width: 100%;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);

    &::before {
      content: '';
      height: 75rem;
      width: 100vw;
      background: var(--color-likedSongs-gradientBG);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }
  }

  .icon-Back-arrow {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    left: var(--page-margin);
    top: 6rem;
  }
}
