.search-bar {
  display: flex;
  align-items: center;
  color: var(--color-gray-Shadowy) !important;
  &::before {
    content: "";
    background-image: url("/src/img/SVG/Search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.5rem;
    position: absolute;
    transform: translateX(0.8rem);
  }
  &__input {
    all: initial;
    flex-grow: 1;
    padding-left: 3.5rem;
    height: 3.6rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--color-primary-nav);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.023rem;
    color: var(--color-primary-text);
    font-family: Circular Std;
    border: 1px solid transparent;

    &--m1 {
      font-size: 1.45rem;
      font-weight: 400;
      color: var(--color-primary-text) !important;
      border-radius: 0.8rem;
      height: 2.8rem;
    }

    &::placeholder {
      color: var(--color-gray-Shadowy);
      font-size: 1.15rem;
    }
  }
  &__btn {
    margin-left: 0.8rem;
    width: 6.4rem;
    height: 3.6rem;
    background: var(--color-primary-nav) !important;
    font-family: Circular Std;
    border: none;
    border-radius: 0.5rem;
    color: var(--color-gray-Shadowy);

    &--cancel {
      background: none !important;
    }

    &-text {
      font-family: Circular Std;
      font-size: 1.15rem;
      font-weight: 700;
      letter-spacing: -0.023rem;
      color: var(--color-gray-Shadowy) !important;
      &--cancel {
        font-size: 1.1rem;
        color: var(--color-primary-text);
      }
    }
  }

  &--camera {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    fill: white;
    flex-shrink: 0;
  }
}
