.main-nav {
  width: 100vw;

  height: var(--main-nav-height);

  position: fixed;
  bottom: 0;

  &__navlink {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    color: inherit;
    text-decoration: none;
  }

  &__flex-container {
    height: 100%;
    background-color: var(--color-primary-nav);
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
  }
  &__item {
    flex: 1;
    margin-bottom: 3.5rem;
  }
  &__icon {
    margin: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    @media (orientation: landscape) {
      width: 2rem;
      height: 2rem;
    }
  }
  &__text {
    line-height: normal;
  }

  &--active {
    svg {
      stroke: #fff;
      stroke-width: 0.05rem;
    }
    span {
      color: #fff;
    }
  }
}
