.main-nav {
  width: 100vw;

  height: var(--main-nav-height);

  flex: 0 0 auto;

  &__flex-container {
    height: 100%;
    background-color: var(--color-primary-nav);
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
  }
  &__item {
    flex: 1;
    margin-bottom: 3.5rem;
  }
  &__icon {
    margin: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    @media (orientation: landscape) {
      width: 2rem;
      height: 2rem;
    }
  }
  &__text {
    display: block;
    line-height: normal;
  }
}
